<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

<bean id="engine"  class="sprinttest1.Bike">
<property name="colur" value="red"></property>
</bean>
<bean id="airoplan"  class="sprinttest1.Airoplan">
 <constructor-arg index="0" type="java.lang.String" value="Red" /> 
  <constructor-arg index="1" type="java.lang.Integer" value="10" />                   
</bean>
</beans>